<%= link_to 'Add a location', new_location_path %>
<% @my_locations.each do |location| %>
  <p><%= location.name %></p>
  <p><%= location.address %></p>
  <p><%= location.description %></p>
  <p><%= location.price %></p>
<% end %>
