<h1>New Location</h1>

<%= form_with(model: @location, url: locations_path, method: :post, html: { multipart: true }) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <!-- Add image upload field -->
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <!-- Add hidden field for user_id -->
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit "Create Location" %>
  </div>
<% end %>

<%= link_to "Back", locations_path %>
