<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-5">
      <h1>New Location</h1>

          <%= simple_form_for @location do |f| %>
            <div class="fields">
              <%= f.input :name, label_html: { class: "form-text"} %>
              <%= f.input :address, label_html: { class: "form-text"} %>
              <%= f.input :description, label_html: { class: "form-text"} %>
              <%= f.input :price, label_html: { class: "form-text"} %>
              <%= f.input :image_url, label_html: { class: "form-text"} %>
            </div>

            <!-- Add more form fields for address, description, price, image_url, etc. -->

            <div class="form-actions">
                <%= f.button :submit, "Create location", class: "form-text" "btn" %>
            </div>
          <% end %>
  </div>
</div>
</div>
