<div class="container">
  <h1><%= @location.name %></h1>
  <div class="card">
    <p><strong>Address:</strong> <%= @location.address %></p>
    <p><strong>Description:</strong> <%= @location.description %></p>
    <p><strong>Price:</strong> <%= @location.price %></p>
    <!-- TODO: Stimulus to add partial for booking -->
    <% if @pending_booking %>
      <%= @pending_booking.status.upcase %>
    <% else %>
      <%= render 'bookings/form', location: @location %>
    <% end %>
  </div>
</div>
