<div class="container">
  <h1><%= @location.name %></h1>
  <div class="card">
    <%= image_tag @location.image_url, class: "card-img-top", style: "max-width: 300px" %>
    <p><strong>Address:</strong> <%= @location.address %></p>
    <p><strong>Description:</strong> <%= @location.description %></p>
    <p><strong>Price:</strong> <%= @location.price %></p>
  </div>
</div>
