<div class="container">
  <h1><%= @location.name %></h1>
  <div class="card">
    <p><strong>Address:</strong> <%= @location.address %></p>
    <p><strong>Description:</strong> <%= @location.description %></p>
    <p><strong>Price:</strong> <%= @location.price %></p>
    <!-- TODO: Stimulus to add partial for booking -->
    <% if user_signed_in %>
      <% if @pending_booking %>
        <%= @pending_booking.status.upcase %>
      <% elsif current_user.is_host %>
        <%= @booking.status %>
        <%= button_to 'Accept', false %>
        <%= button_to 'Reject', false %>
      <% else %>
        <%= render 'bookings/form', location: @location %>
      <% end %>
    <% else %>
      <%= render 'bookings/form', location: @location %>
    <% end %>
  </div>
</div>
